<md-content flex md-whiteframe="4" layout-margin style="padding: 4px;">
  <h1>Criar Tarefa</h1>
  <div layout="row" layout-align="start" flex>
    <md-input-container flex="50">
      <label>Tarefa</label>
      <input type="text" name="quest" ng-model="vm.tarefa.nome"/>
    </md-input-container>
    <md-input-container flex="50">
      <label>Descricao</label>
      <input type="text" name="quest" ng-model="vm.tarefa.descricao"/>
    </md-input-container>
  </div>
  <div layout-gt-xs="row">
    <div flex-gt-xs>
      <h4>Prazo</h4>
      <md-datepicker ng-model="vm.tarefa.prazo" md-placeholder="Enter date"></md-datepicker>
    </div>
    <div layout="row" layout-align="end" flex>
      <md-button ng-click="vm.clear()">Clear</md-button>
      <md-button ng-click="vm.add_tarefa($event)" class="md-primary">Save</md-button>
    </div>
  </div>
</md-content>